@using Microsoft.AspNetCore.Authorization
@using Project_Karel_Gortz.Models.Stats

@{
    ViewData["Title"] = "Fixture Details Page";
}

@model List<Project_Karel_Gortz.Models.ViewModels.FixtureViewModel>
<h3>Latest matches</h3>
@foreach (var item in Model)
{
    @await Html.PartialAsync("_FixtureHeader", item)
}